{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

<div class="jumbotron">
    <h1 class="display-4">Welcome to slamquiz!</h1>
    <p class="lead">This is a simple test, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for test the student</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Start the test</a>
    </p>
</div>

{% endblock %}
